body {
    font-family: Arial, sans-serif;
    background-color: #E2F6FF; /* Light blue background */
    margin: 0;
    padding: 0;
    color: #FFFFFF;
}

header {
    background-color: #2E245B; /* Dark blue header */
    color: #FFFFFF;
    display: flex;
    padding-right: 89px;
    justify-content: space-between;
    align-items: center;
}

.container {
    background-color: #2E245B;
    border: 2px solid #2C3E50; /* Dark blue border */
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 50px;
}

h2 {
    margin-bottom: 0;
}

.form-inputs-row {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.form-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


input, button {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #E2F6FF; /* Light gray background for inputs */
}

button{
    display: block;
    height: 50%;
}

button {
    width: 68%;
    background-color: #E2F6FF; /* Dark blue button */
    color: #2C3E50;
    font-size: larger;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}